.flex-container-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  border: 0.5px solid rgb(74, 73, 73);
  width: 90%;
  margin-top: 100px;
  margin-bottom: 20px;
}

.flex-container-details > div {
  margin: 20px;
  box-shadow: rgba(214, 208, 208, 0.25) 0px 54px 55px,
    rgba(213, 200, 200, 0.12) 0px -12px 5px,
    rgba(238, 229, 229, 0.12) 0px 4px 6px, rgba(255, 247, 247, 0.17) 0px 5px 5px,
    rgba(232, 223, 223, 0.09) 0px -3px 5px;
}

.img-container-details {
  height: 400px;
  width: 55%;
}

.img-container-details > img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.desc-container-details {
  height: 400px;
  width: 60%;
  margin-top: 10px;
}

.desc-container-details > p {
  margin-top: 10px;
}

.img-id-details {
  font-size: 30px;
  font-weight: bold;
  color: gray;
  margin-left: 10px;
}

.img-title-details {
  font-size: 30px;
  font-weight: bold;
  color: rgb(119, 92, 92);
  margin-left: 10px;
}

.img-body-details {
  font-style: italic;
  font-size: 30px;
  color: rgb(88, 86, 86);
  margin-left: 10px;
}

/* CSS */
.btn-details {
  appearance: none;
  background-color: rgb(67, 43, 199);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin-top: 30px;
  margin-left: 10px;
}

.btn-details:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.btn-details:hover {
  background-color: rgb(85, 63, 212);
}

.btn-details:focus {
  box-shadow: rgba(73, 46, 164, 0.4) 0 0 0 3px;
  outline: none;
}

.btn-details:disabled {
  background-color: #94a0d3;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.btn-details:active {
  background-color: #3a298e;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

@media screen and (max-width: 810px) {
  .flex-container-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 20px;
  }

  .flex-container > div {
    border: 0.5px solid white;
    width: 300px;
    margin: 20px;
    height: 580px;
    box-shadow: rgba(214, 208, 208, 0.25) 0px 54px 55px,
      rgba(213, 200, 200, 0.12) 0px -12px 5px,
      rgba(238, 229, 229, 0.12) 0px 4px 6px,
      rgba(255, 247, 247, 0.17) 0px 5px 5px,
      rgba(232, 223, 223, 0.09) 0px -3px 5px;
  }

  .img-container-details {
    height: 300px;
    width: 100%;
  }

  .img-container-details > img {
    height: 100%;
    width: 100%;
  }

  .desc-container-details {
    height: 180px;
    width: 100%;
    margin-top: 10px;
  }

  .desc-container-details > p {
    margin-top: 10px;
  }

  .img-id-details {
    font-size: 20px;
    font-weight: bold;
    color: gray;
    margin-left: 5px;
  }

  .img-title-details {
    font-size: 20px;
    font-weight: bold;
    color: rgb(119, 92, 92);
    margin-left: 5px;
  }

  .img-body-details {
    font-style: italic;
    font-size: 18px;
    color: whitesmoke;
    margin-left: 5px;
  }
}
